---
import Layout from "../layouts/Layout.astro"
import pieData from "../../src/data/U.T.P.json"
---

<Layout>
 {pieData.map((item) => (
      <div class="bg-tarjeta flex flex-col mx-100 py-5 my-5 rounded-lg justify-center items-center">
        <h2>{item.titulo}</h2>
        {item.textoconvi && <p>{item.textoconvi}</p>}
        {item.image && <img src={item.image} alt={item.titulo} style="max-width: 300px;" />}
        <ul>
        <li>{item.nombre}</li>
        <li>{item.ingreso}</li>    
        </ul>
      </div>
    ))}
</Layout>  