---
import { Image } from "astro:assets";
import { ItemMenu } from "../data/itemsmenu"; 

import heroImage from "/public/imagenes/hero/frontis-liceo.jpg"; 
import imageLogo from "/public/imagenes/logo/logo.jpg"; 
---

<header>

  <div class="relative w-full h-[400px] overflow-hidden">
    <Image 
      src={heroImage} 
      alt="Imagen principal del Liceo" 
      class="object-cover w-full h-full"
      widths={[768, 1024, 1280, 1920]}
      sizes="(max-width: 768px) 100vw, 100vw"
      loading="eager"
    />
  </div>

  <nav class="bg-azul-oscuro text-blanco py-4">
    <div class="container mx-auto px-4 flex flex-row items-center justify-between">
      
      <div class="logo">
        <a href="/">
          <Image src={imageLogo} alt="Logo" class="w-32" /> 
        </a>
      </div>

      <nav>
        <ul class="flex flex-row gap-x-6">
          {
            ItemMenu.map((item) => (
              <li class="relative group">
                <a href={item.href} class="flex items-center gap-x-1 hover:underline">
                  {item.texto}
                  
                  {}
                  {item.subItems && (
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="w-5 h-5">
                      <path fill-rule="evenodd" d="M5.22 8.22a.75.75 0 011.06 0L10 11.94l3.72-3.72a.75.75 0 111.06 1.06l-4.25 4.25a.75.75 0 01-1.06 0L5.22 9.28a.75.75 0 010-1.06z" clip-rule="evenodd" />
                    </svg>
                  )}
                </a>
  
                {}
                {item.subItems && (
                  <ul class="
                    absolute top-full left-0 w-56 
                    rounded-md hidden group-hover:block z-50
                    bg-azul-oscuro
                    text-blanco
                    shadow-lg
                  ">
                    {
                      item.subItems.map((subItem) => (
                        <li>
                          <a 
                            href={subItem.href} 
                            class="block px-4 py-2 hover:text-verde-neon"
                          >
                            {subItem.texto}
                          </a>
                        </li>
                      ))
                    }
                  </ul>
                )}
              </li>
            ))
          }
        </ul>
      </nav>

    </div>
  </nav>

</header>